<br>
<br>

<div class="row">
    <div class="col-6">
        <div class="mb-3 row">
            <label for="num1" class="col-sm-2 col-form-label">Número 1:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="num1" id="num1" [(ngModel)]="num1">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="num2" class="col-sm-2 col-form-label">Número 2:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="num2" id="num2" [(ngModel)]="num2">
            </div>
        </div>
        <div class="mb-3 row">
            <button (click)="operacion()" class="btn btn-primary">Calcular</button>
        </div>
    </div>
    <div class="col-6"></div>
    <h2>Resultado: {{resultadoMen}}</h2>
</div>